@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


h2 {
    font-size: 4rem !important;
    font-weight: 700 !important;
}

p {
    font-size: 2rem !important;
    font-weight: 500 !important;
}