@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


h2 {
    font-size: 2rem !important;
    font-weight: 700 !important;
}


p {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

button {
  font-size: .75rem !important;
  font-weight: 700 !important;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 3rem !important;
    font-weight: 700 !important;
  }

  p {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
  }

  button {
    font-size: 1rem !important;
    font-weight: 700 !important;
  }
}

li {
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  margin: 1rem 0;
}

@media (min-width: 1024px) {
  li {
    font-size: 2.5rem;
    font-weight: 500;
    cursor: pointer;
    margin: .75rem 0;
  }
}

.text-bg {
  font-size: 3rem;
  font-family: "Black Ops One", system-ui;
  margin-top: -15rem;
}

@media (min-width: 1024px) {
  .text-bg {
    font-size: 10rem;
    font-family: "Black Ops One", system-ui;
    margin-top: -20rem;
  }
}

.text-footer {
  font-size: 0.8rem !important;
}

@media (min-width: 1024px) {
  .text-footer {
    font-size: 1rem !important;
  }
}